name: Push

on:
  push:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install stringer
        run: go install golang.org/x/tools/cmd/stringer@latest

      - name: Generate
        run: go generate ./...

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
